header{
  position: sticky;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  height: 13em;
  width: 100vmax;
  background-color: var(--color-main);
  color: white;
}
.header__homelink{
  display: inline-block;
  padding: 0 24px;
  height: 2.5em;
 
}
.header__logo{
  height: 11em;
  padding: 1em;
}
.header__nav-item {
  font-size:4em;
  display: inline-block;
}
.header__nav ul{
  display: inline-flex;
  gap: 3em;
  position: relative;
  top: 3em;
  right: 10em;
}
.header__nav-item{
  position:relative;
}
.header__nav-item::after {
  content: '';
  position: absolute;
  bottom: 0px;
  width: 0;
  height: 0;
  left: 50%;
  border-radius: 1em;
  opacity: 0.8;
  background-color: white;
  transition: all 350ms;
}
.header__nav-item:hover::after {
  left:0%;
  width: 100%;
  height: 0.5em;
}














@media (max-width: 768px) {
}

@media (min-width: 769px) {
}