main #about {
  padding: 64px 16px;
  text-align: center;
}

.section__tag{
  font-size: 2vmax;
  color: var(--color-sub)
}
.section__title{
  font-size: 3.5vmax;
  font-weight: bold;
  color: var(--color-text);
}
main {
  display: grid;
  grid-template-columns: 1fr lfr;

}
main{
  background-color: var(--color-light-bg);
}

main{
  grid-column: 1/-1;
}
.html-css {
  display: inline-flex;
  margin: 3vmax 0;
  gap:2vmax;
}



@media (min-width: 769px) {
}