.nav__list li{
  display: inline-block;
  font-size: 1vmax;
}
.nav__item-1 li{
  font-weight: bold;
}
.nav__img img{
  height: 100px;
}
.nav__list{
  display: flex;
  justify-content: center;
  gap: 5vmax;
  padding-top: 1vmax;
}
.nav__item-2 li{
  vertical-align: -40px;
}
ul[class^="nav__item"] li{
  padding: 10px 20px;
}
.nav__item-2 li:first-child{
  color: var(--main);
}
.nav__item-2 li:last-child{
  border-radius: 1em;
  background-color: var(--main);
  color: white;
}

