*{font-size: 2rem;}
body{
  padding:0 0;
  
 
}
header nav ul li{
  display: inline-block;
}
header{
  position: sticky;
  top: 0;
  left: 0;
}

header nav ul{

  z-index: 2;
    display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  background-color: salmon;
  height: 5vmax;
  
}
nav ul li a:hover{
  font-weight: bold;
  color: aquamarine;
  transform: scale(1.4);
  transition: all 1s;
}
nav ul li :ul li a:not(:hover){
  transform: scale(0.5);
  transition: all 1s;
  opacity: 0;
}

nav ul li a:active{
  font-weight: bold;
  color: rebeccapurple;
}
.cv__header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.main__section{
  padding: 2vmax;
}

table{
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
  text-align: center;
}
th,td{
  border: 2px solid black;
}
.job-description h3::before{
  content: "- ";

}
#personal ul li{
  list-style: "-";

}
#personal ul{
  text-indent: 1vmax;
}
h1{
  font-size: 2vmax;
}
h2{
  font-size: 1.5vmax;
  font-weight: 100;
  background-color: antiquewhite;
  text-align: center;
}
.job-description h3{
  font-size: 1.2vmax;
  font-weight: 400;
}
.job-description h4{
  font-size: 1.1vmax;
  text-indent: 1vmax;
  font-weight: 400;
  
  
}
.job-description p{
  text-indent: 1vmax;
  color: gray;
}
footer{
  background-color: salmon;
}
